<script
      src="https://kit.fontawesome.com/0aa81cce27.js"
      crossorigin="anonymous"
    ></script>
<header>
  <h1>POBREFLIX</h1>
  <nav>
    <ul>
      <a href="/">
        <li><i class="fa-solid fa-house"></i> Inicio</li>
      </a>
      <a href="/criar">
        <li><i class="fa-solid fa-circle-plus"></i> Criar</li>
      </a>
    </ul>
  </nav>
</header>
