
* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}
a{
  text-decoration: none;
  color: white;
}
header nav a {
  text-decoration: none;
  color: white;
}

body {
  height: 100vh;
  width: 100vw;
  max-width: 100%;
  background-image: linear-gradient(red, rgb(179, 174, 174));
  color: rgb(8, 8, 8);
}

body h1 {
  color: rgb(7, 7, 7);
}

header {
  display: flex;
  height: 10%;
  justify-content: center;
  background-image: linear-gradient(red, rgb(7, 7, 7));
  padding: 1rem;
  position: relative;

}
header nav {
  display: flex;
  justify-content: center;
  width: 100%;
  font-size: 1rem;
  color: white;
  padding-right: 8rem;
}
header nav ul {
  display: flex;
  gap: 16px;
  list-style: none;
}

header h1 {
  display: flex;
  color: white;
  justify-content: left;
  font-size: 25px;
  padding-top: 2rem;
  position: relative;
  
}
main {
  min-width: 80%;
}

main div#sub_header{
  display: flex;
  height: 40px;
  background-image: linear-gradient(rgb(10, 10, 10), rgb(254, 8, 8));
  color: white;
  font-size: 2rem;
  justify-content: center;
}
section#card_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 16px;
  padding: 16px;
  gap: 16px;
}
section article.cards {
  height: 330px;
  width: 200px;
  border: 1px solid black;
  box-shadow: 3px 3px rgb(9, 9, 8), -1em 0 0.4em rgb(126, 37, 76);
}

article.cards div.card_img{
  display: flex;
  justify-content: center;
  width: 100%;
  


}
article.cards div.card_img img {
  width: 100%;

}
article.cards div.card_name{
  display: flex;
  justify-content: center;
  height: 20%;
  color: black;
  font-weight: bold;
}

main div#filme_nome{
  display: flex;
  justify-content: center;
  font-size: 40px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

section#detalhes_container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 16px;
  padding: 10px;
  gap: 16px;
}
section#detalhes_container h4{
  display: flex;
}
div.btn_container {
  display: flex;
  flex-direction: column;
  gap: 11px;
  padding: 0.2rem
}

table {
  width: 300px;
  text-align: center;
}
section#form__container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  height: 100%;
}

section#form__container form {
  display: flex;
  flex-direction: column;
  width: 500px;
}

form fieldset {
  padding: 20px;
}

fieldset legend {
  background-color: #febac5;
}

fieldset.fieldset__data{
  border: none;
}

form div#btn__container {
  display: flex;
  justify-content: center;
}

form button#btn__submit {
  background-color: #da062e;
  color: #fff;
  height: 40px;
  width: 60px;
}
 
footer {
  text-align: center;
  height: 10%;
  background-image: linear-gradient(rgb(250, 238, 238), rgb(254, 8, 8));
  
}
footer p a {
  color: black;
  font-size: larger;
  font-weight: bolder;

}